<div>
  <div class="mb-3">
    <b>Temáticas</b>
    <select class="form-select" [(ngModel)]="libro.tematica">
      <option *ngFor="let t of tematicas" value="{{ t }}">
        {{ t }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label class="form-label">Título</label>
    <input class="form-control" [(ngModel)]="libro.titulo">
  </div>
  <div class="mb-3">
    <label class="form-label">ISBN</label>
    <input class="form-control" [(ngModel)]="libro.isbn">
  </div>
  <button class="btn btn-primary" (click)="guardar()">Guardar</button>
</div>
