<div class="container mt-3">
  <h1>Nuevo pedido</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 border border-5 rounded">
        <div class="form-group mt-3">
          <label>Productos</label>
          <select class="form-control" [(ngModel)]="pedido.codigoProducto">
            <option *ngFor="let p of productos" value="{{ p.codigoProducto }}">
              Producto: {{ p.producto }} | Precio: {{ p.precioUnitario }} | Stock: {{ p.stock }}
            </option>
          </select>
        </div>

        <div class="form-group mt-3">
          <label>Unidades</label>
          <input
            type="number"
            min="0"
            [(ngModel)]="pedido.unidades"
            class="form-control"
          />
        </div>
        <br />
      </div>
    </div>
    <br />
    <div class="container">
      <button class="btn btn-success" (click)="guardarPedido()">Guardar pedido</button>
      <button class="btn btn-warning">     ><     </button>
      <button class="btn btn-success" (click)="verPedidos()" type="button">Ver pedidos</button>
    </div>
  </div>

  <div class="container mt-3" *ngIf="pedidos&&pedidos.length>0">
    <h1 class="text-center">Lista de pedidos</h1>
    <table class="table">
      <thead>
        <tr class="bg-light">
          <th>Id pedido</th>
          <th>Codigo producto</th>
          <th>Unidades</th>
          <th>Total</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of pedidos">
          <td>{{ p.idPedido }}</td>
          <td>{{ p.codigoProducto }}</td>
          <td>{{ p.unidades }}</td>
          <td>{{ p.total }}</td>
          <td>{{ p.fechaPedido }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
